<a href="https://colab.research.google.com/github/meetsomto/dbs/blob/main/programmingweek2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists

In [ ]:
marks=[50,60,70,90,60]

In [ ]:
marks[0]="Abhi"

In [ ]:
print(marks)

['Abhi', 60, 70, 90, 60]

In [ ]:
height=[132,143,155,160,4]

In [ ]:
height.pop(4)

4

In [ ]:
print(height)

[132, 143, 155, 160]

In [ ]:
height.remove(132)

In [ ]:
print(height)

[143, 155, 160]

In [ ]:
marks.extend(height)

In [ ]:
print(marks)

['Abhi', 60, 70, 90, 60, 143, 155, 160]

In [ ]:
# slicing string
name="Abhishek Kaushik"

short=name[0:4]
print(short)

Abhi

In [ ]:
short_list=marks[0:4]
print(short_list)

['Abhi', 60, 70, 90]

In [ ]:
name = "Abhi" #string
name1= ["A", "b", "h", "i"] #list

slic1 = name[0:2]
slic2 = name1[0:2]

print(slic1)
print(slic2)

Ab
['A', 'b']

In [ ]:
print(type(name))

print(type(name1))

<class 'str'>
<class 'list'>

In [ ]:
marks2=[45,54,67,87,54]
print(len(marks2))

5

In [ ]:
print(sum(marks2))

307

## Tuple 
### immutable

In [ ]:
A=()

In [ ]:
print(type(A))

<class 'tuple'>

In [ ]:
A=("A")
print(type(A))

<class 'str'>

In [ ]:
A=("A",)
print(type(A))

<class 'tuple'>

In [ ]:
marks=(45,65,76,43)
print(type(marks))

<class 'tuple'>

In [ ]:
marks[0] =76 #tuple is immutable and does not support item assignment

TypeError: ignored

In [ ]:
## Dictionary

In [ ]:
phone_no={"Rohan":99999,"Mohan":8888,"Sohan":56383836}

In [ ]:
print(phone_no["Rohan"])

99999

In [ ]:
print(phone_no[99999])

KeyError: ignored

In [ ]:
print(phone_no.items)

<built-in method items of dict object at 0x7f9fbb37ab88>

In [ ]:
for x in phone_no.items():
  print(x)

('Rohan', 99999)
('Mohan', 8888)
('Sohan', 56383836)

In [ ]:
for x in phone_no.values():
  print(x)

99999
8888
56383836

In [ ]:
# Dict of 4 numbers, print a number with a string query

## print("Hello for your search query {} the number is {}".format(query,number))

In [ ]:
phone_number={"Somto":1111,"Rohan":2222,"Abhi":33333}
query="Rohan"
contact=phone_number[query]
print("Hello, for your search query '{}', the phone number is {}".format(query,contact))

Hello, for your search query 'Rohan', the phone number is 2222

## Boolean Ops

In [ ]:
5>7

False

In [ ]:
7>6

True

In [ ]:
results=5+(5<6)  #integer + boolean works as a typecasting exception, true =1
print(results)

6

In [ ]:
output = "abhi"+(5<6)
print(output)  #typecasting doesnt work for string + bool

TypeError: ignored

In [ ]:
### python is declarative by default
### definition
### calling

In [ ]:
def arith(): # () is used to parse in parameters
  A = 50
  B = 60
  print("The average of {} and {} is {}".format(A,B, (A+B)/2))

arith()

The average of 50 and 60 is 55.0

In [ ]:
def avg(A, B): 
  print("The average of {} and {} is {}".format(A,B, (A+B)/2))

In [ ]:
avg(30,60)

The average of 30 and 60 is 45.0

In [ ]:
## function to print fullname with fname and Lname

def name(first_name, last_name):
  print("My full name is {} {}".format(first_name, last_name))

In [ ]:
name('Somto', 'Mbanefo')

My full name is Somto Mbanefo

In [ ]:
## generate a nickname using first 50% letters of name

def nickname(firstname, lastname):
  print("A suggested nickname is {}{}".format(firstname[0:3], lastname[0:3]))

In [ ]:
nickname('Somto', 'Mbanefo')

A suggested nickname is SomMba

In [ ]:
import math
def nick(first_name, last_name):
  first_nick = first_name[0:math.ceil(len(first_name)/2)]
  last_nick = last_name[0:math.floor(len(last_name) /2)]

  print("A suggested nickname is {}{}".format(first_nick, str.lower(last_nick)))

In [ ]:
nick('Somto', 'Mbanefo')

A suggested nickname is Sommba

In [ ]:
# annual income i, tax rate r (if i <=32k then r = 20%, 
                            #  if 32k < i AND <= 60k then r 40%, 
                            #   IF I > 60k then r = 50%), find monthly income and monthly income tax
 # Calculate monthly salary and tax

In [ ]:
def monthlySlip():
    annual_gross_income = float(input("Enter annual gross income: "))
    tax_rate == 
    if annual_gross_income < 32000:
      tax_rate == 20
    elif annual_gross_income < 60000 AND gross_income == 60000:
      tax_rate == 40
    elif annual_gross_income > 60000:
      tax_rate == 50
    else:
      print("your annual income is not taxable")
      
    annual_net_pay = annual_gross_income - ((tax_rate / 100) * annual_gross_income)

    print("\n Gross pay: {}\n Tax Rate: {}% \n Net Pay: {} euro".format(annual_gross_income, tax_rate, annual_net_pay))

monthlySlip()

Enter annual gross income: 60500

NameError: ignored

## Set

In [ ]:
thisset = {"apple", "banana",  "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

In [ ]:
thisset.add("orange")
print(thisset)

{'orange', 'banana', 'apple', 'cherry'}

In [ ]:
thisset.remove("banana")
print(thisset)

{'grapes', 'orange', 'apple', 'cherry', 'mango'}

In [ ]:
thisset.update(["grapes", "mango"])
print(thisset)

{'grapes', 'orange', 'apple', 'cherry', 'mango'}

In [ ]:
thisset.discard("apple")
print(thisset)

{'grapes', 'orange', 'cherry', 'mango'}

In [ ]:
print(len(thisset))

4

In [ ]:
set.clear(thisset)

In [ ]:
print(thisset)

set()

In [ ]:
del (thisset)

In [ ]:
print(thisset)

NameError: ignored

In [ ]:
fname = input("Please enter your first name: ")
sname = input("Please enter your last name: ")
print("This ticket is booked in the name of {} for Europe tour".format(fname + " " + sname))

Please enter your first name: som
Please enter your last name: nefo
This ticket is booked in the name of som nefo for Europe tour

In [ ]:
first_eleven = input("Enter the names: ")
split_eleven = first_eleven.split(" ")
print(split_eleven)

Enter the names: one two three four five six seven eight nine ten eleven
['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'eleven']

In [ ]:
set1 = {"a", "b", "c", "d", 4}
set2 = {1,2,3,4}
set3 = set1.union(set2)
print(set3) #set does not duplicate 4

{1, 2, 3, 4, 'b', 'c', 'd', 'a'}

In [ ]:
set1.update(set2)
print(set1)

{1, 2, 3, 4, 'b', 'a', 'c', 'd'}

## Control Conditions
> <= >= == != < >

In [ ]:
your_shopping=350
if your_shopping>300:
  print("impressive!")
else:
  print("quite a budget!")

impressive!

In [ ]:
your_shopping=240
if your_shopping>300:
  print("impressive!")
elif your_shopping>200:
  print("Your spending is up!")
else:
  print("quite a budget!")

Your spending is up!

In [ ]:
your_shopping=150
if your_shopping>300 and your_shopping<500:
  print("your life is good")
elif your_shopping>500 or your_shopping<300:
  print("something is wrong!")

something is wrong!

## Looping

###for 
### while (condition)

In [ ]:
number_list=[1,2,3,4,5,6,7,8,9,10]

for x in number_list:
  print("This is number {}".format(x))

This is number 1
This is number 2
This is number 3
This is number 4
This is number 5
This is number 6
This is number 7
This is number 8
This is number 9
This is number 10

In [ ]:
print("###########Table of 8#######")
for x in number_list:
  print("{} * {} = {}".format(8,x,8*x))

###########Table of 8#######
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [ ]:
#Squares
for x in number_list:
  print("{} * {} = {}".format(x, x, x*x))

1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16
5 * 5 = 25
6 * 6 = 36
7 * 7 = 49
8 * 8 = 64
9 * 9 = 81
10 * 10 = 100

In [ ]:
#square and cube

#Squares
for x in number_list:
  print("{} * {} = {} and the cube value of {} is {}".format(x, x, x*x, x, x*x*x))

1 * 1 = 1 and the cube value of 1 is 1
2 * 2 = 4 and the cube value of 2 is 8
3 * 3 = 9 and the cube value of 3 is 27
4 * 4 = 16 and the cube value of 4 is 64
5 * 5 = 25 and the cube value of 5 is 125
6 * 6 = 36 and the cube value of 6 is 216
7 * 7 = 49 and the cube value of 7 is 343
8 * 8 = 64 and the cube value of 8 is 512
9 * 9 = 81 and the cube value of 9 is 729
10 * 10 = 100 and the cube value of 10 is 1000

In [ ]:
### While loop

print("Table of &")

a = 1
while a <= 10:
  print("{} * {} = {}".format(7,a,7*a))
  a=a+1

Table of &
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [ ]:
# write a function to detect a prime number from a user-generated value
# 2,3,5,7

In [ ]:
z = int(input("Enter a number: "))
if z%z == 0 and z!=1 and z>1 and z%2 !=0 and z%3 != 0:
  print("{} is a prime number".format(z))
elif z==2 or z==3:
  print(z, "is a prime number")
else:
  print("{} is not a prime number".format(z))

Enter a number: 300009
300009 is not a prime number

In [ ]:
check_number = int(input("Enter a number: "))
# prime number is always greater than 1
if check_number > 1:
    for i in range(2, check_number):
        if (check_number % i) == 0:
            print(check_number, "is not a prime number")
            break
    else:
        print(check_number, "is a prime number")

# if the entered number is less than or equal to 1
# then it is not prime number
else:
    print(check_number, "is not a prime number")

Enter a number: 25
25 is not a prime number